
// Rename, not a card anymore.

.card {

	transition: all 1s ease-in-out;

	&-enter {
		//transform: rotateX(90deg);
		opacity: 0;
	}

	&-leave {
		opacity: 1;
	}

	&-enter-active {
		//transform: rotateX(90deg);
		opacity: 1;
	}

	&-leave-active {
		opacity: 0;
	}
}

.card__img {
	display: block;
	position: relative;

	img {
		width: 100%;
	}
}

.card__screen {
	// background: #fcfcfc;
	// height: 200px;
	background: rgba(0, 0, 0, 0.4);
	padding: 12px 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}